@model Team8_MVCApplication.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Profile Details</h2>

<div>
    <h4>Full Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profileFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profileFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profileLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profileLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

    </dl>
</div>

@{
    var id = Model.ProfileId;
    Team8_MVCApplication.DAL.Team8_MVCApplication_Context db = new Team8_MVCApplication.DAL.Team8_MVCApplication_Context();
    var recognition = db.CoreValueRecognitions.Where(p => p.personRecognized.ProfileId == id);
}



@{
    var Recognition = Model.BeingRecognized;
    var totalCnt = recognition.Count(); // counts all the recognitions for that person
    var excellentCnt = recognition.Where(r => r.award == Team8_MVCApplication.Models.CoreValueRecognitions.CoreValue.Excellence).Count();
    var balanceCnt = recognition.Where(r => r.award == Team8_MVCApplication.Models.CoreValueRecognitions.CoreValue.Balance).Count();
    var innovativeCnt = recognition.Where(r => r.award == Team8_MVCApplication.Models.CoreValueRecognitions.CoreValue.Innovative).Count();
    var acceptingCnt = recognition.Where(r => r.award == Team8_MVCApplication.Models.CoreValueRecognitions.CoreValue.Accepting).Count();
    var integrityCnt = recognition.Where(r => r.award == Team8_MVCApplication.Models.CoreValueRecognitions.CoreValue.Integrity).Count();
    var passionCnt = recognition.Where(r => r.award == Team8_MVCApplication.Models.CoreValueRecognitions.CoreValue.Passion).Count();
    var stewardshipCnt = recognition.Where(r => r.award == Team8_MVCApplication.Models.CoreValueRecognitions.CoreValue.Stewardship).Count();
}

<div class="container">
    <h2>Recognition Details</h2>
    <p>The table shows the combined awards given:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Recognition</th>
                <th># of Awards</th>
                @*<th>Information about the Recognition</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Balance Awards</td>
                <td>@balanceCnt</td>
                @*<td>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Details</button>
                    <div id="demo" class="collapse">
                      
                    </div>
                </td>*@
            </tr>
            <tr>
                <td>Culture Awards</td>
                <td>@acceptingCnt</td>
            </tr>
            <tr>
                <td>Excellence Awards</td>
                <td>@excellentCnt</td>
            </tr>

            <tr>
                <td>Innovative Awards</td>
                <td>@innovativeCnt</td>
            </tr>
            <tr>
                <td>Integrity Awards</td>
                <td>@integrityCnt</td>
            </tr>
            <tr>
                <td>Passion Awards</td>
                <td>@passionCnt</td>
            </tr>
            <tr>
                <td>Stewardship Awards</td>
                <td>@stewardshipCnt</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Total Recognitions</th>
                <th>@totalCnt</th>
            </tr>
        </thead>
    </table>
</div>






@*<h2>Total recognitions received = @totalCnt</h2>
    <h3>Excellence awards = @excellentCnt</h3>
    <h3>Balance awards = @balanceCnt</h3>
    <h3>Integrity awards = @integrityCnt</h3>
    <h3>Culture awards = @acceptingCnt</h3>
    <h3>Passion awards = @passionCnt</h3>
    <h3>Stewardship awards = @stewardshipCnt</h3>
    <h3>innovative awards = @innovativeCnt</h3>*@










<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

